body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow-x: hidden;
    background-color: #d1fcff;
    font-family: sans-serif;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

a {
    display: block;
}

.login {
    width: fit-content;
    margin: 2em;
    padding: 1em 1.5em;
    font-size: 2em;
    color: #111;
    background-color: #09cdda;
    text-decoration: none;
    border-radius: 1em;
}

.profile {
    max-width: 60vw;
    width: 40em;
}

.profile > * {
    width: 100%;
}

.profile > img {
    width: 50%;
    border-radius: 1em;
}

.profile > pre {
    background-color: #222;
    border-radius: 1em;
    color: white;
    padding: 1em;
    min-width: fit-content;
}
